.popup {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: absolute;
  box-shadow: 0 7px 25px -15px;

  & > * {
    margin-bottom: 1rem;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
